{% extends "allauth/layouts/base.html" %}
{% load allauth %}
{% block body %} 

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
       {% url 'account_email' as email_url_ %}
       {% if email_url_ %}
        <a class="nav-link active" aria-current="true" href=""{{ email_url_ }}">Change Email</a>
      </li>
         {% endif %}
         {% url 'account_change_password' as change_password_url_ %}
        {% if change_password_url_ %}
        <li class="nav-item">
        <a class="nav-link" href="{{ change_password_url_ }}">Change Password</a>
       {% endif %}
       {% url 'socialaccount_connections' as connections_url_ %}
       {% if connections_url_ %}
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ connections_url_}}">Third Accounts</a>
        {% endif %}
        {% url 'mfa_index' as mfa_index_url_ %}
        {% if mfa_index_url_ %}
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ mfa_index_url_ }}">Authentication</a>
      </li>
        {% endif %}
        {% url 'usersessions_list' as usersessions_list_url_ %}
        {% if usersessions_list_url_ %} 
      <li class="nav-item">
        <a class="nav-link" href="{{ usersessions_list_url_ }}">Sessions</a>
          {% endif %}
      </li>
     </ul>
   </div>
   <div class="card-body">
    <h5 class="card-title">
     {% if messages %}
                <div class="pt-4">
                        {% for message in messages %}
                            {% element alert level=message.tags %}
                                {% slot message %}
                                    {{ message }}
                                {% endslot %}
                            {% endelement %}
                        {% endfor %}
                    </div>
            {% endif %}
    </h5>
    <p class="card-text">additional user account manage password authorize</p>
    <a href="#" class="btn btn-primary" data-mdb-ripple-init>Create Instance</a>
     </div>
           </div>
             <main style="margin-top: 10px"> 
              <div class="container pt-2">
             </div>
               {% block content %}
               {% endblock %}
             </div>    
          </div>
        </div> 
   {% endblock %}
